<div class="bg-white">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="navbar-brand">
      <img src="https://res.cloudinary.com/ddzudaqmd/image/upload/v1558730642/logo2_byzmr8.png" />
      Etape 3 : Ajoutez une description
    </div>
  </div>

    <div class="_active-loading-bar-without-radius" style="width: 33.3333%; left: 0%; max-width: 100%;"></div>
    <div class="_active-loading-bar" style="width: 33.3333%; left: 33.3333%; max-width: 66.6667%;"></div>
    <div class="_unactive-loading-bar" style="width: 33.3333%; left: 66.6667%; max-width: 33.3333%;"></div>
  <div style="margin-top: 32px; margin-bottom: 8px;">
    <div class="_container">
      <div class="_title">Décrivez votre espace de coworking</div>
      <div style="margin-top: 8px; margin-bottom: 24px;">
        <div class="_description">Rédigez un résumé rapide de votre espace de coworking. Vous pouvez mettre en évidence ce qui fait la singularité de votre espace, de votre quartier et les services que vous proposez.</div>
        </div>
        <%= simple_form_for @space, :url => {:action => "update_description"}  do |f| %>
          <%= f.text_area :title ,label: false, cols: 80, rows: 1, placeholder: " Titre de l'annonce" %>
          <%= f.text_area :description, cols: 80, rows: 5, placeholder: " Décrivez le décor, l'ambiance, ce qui se trouve à proximité, etc." %>
          <br>

      <%= f.button :submit, "Continuer", class: "btn-primary" %>
            <%= link_to "Retour", root_path, class: "btn btn-light" %>

        <% end %>
    </div>
  </div>
</div>
<div class="_to-the-bottom">
  <div class="d-flex justify-content-between _bottom-background">
    <div class="m-6">
      <%= link_to "Retour", new_space_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

