<div class="bg-white">
  <div class="bg-white row row-condensed">
    <div class="col-md-7">
      <div class="p-5 m-3">
        <div class="m-3 mb-5">
          <h2>Nous allons vous aider à publier votre annonce.</h2>
        </div>
        <div class="m-3">
          <div class="mb-2">
          <strong class="text-secondary">ÉTAPE 1&nbsp;</strong>
          </div>
          <div class="h4 mb-4">Quel type de local avez-vous&nbsp;?</div>
            <div>
              <div class="row row-condensed">
                <div class="col-md-6 col-sm-12">
                  <%= simple_form_for @space, :url => {:action => "create_space"} do |f| %>
                  <%= f.input :space_type, label: false, collection: @space_types,:include_blank => false %>
                  <%= f.input :capacity, label: false, collection: @workers_number.map.with_index {|x, i| [x, (i + 1).to_i] }, include_blank: false %>
                  <%= f.input :localisation, label: false, placeholder: "ex : Paris", input_html: { value: 'Paris, France' } %>
                  <%= f.button :submit, "Continuer", class: "btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 landing__right-col">
      <div class="_e296pg" style="width:100%;height:auto">
        <img class="_1u6feuz3" src="https://a0.muscache.com/airbnb/static/packages/start.b12a70f6.png" width="100%" height="auto" alt="Commencer">
      </div>
    </div>
  </div>
</div>
