<div class="bg-white">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="navbar-brand">
      <img src="https://res.cloudinary.com/ddzudaqmd/image/upload/v1558730642/logo2_byzmr8.png" />
      Etape 4 : Préparez-vous à accueillir
    </div>
  </div>
    <div class="_active-loading-bar-without-radius" style="width: 33.3333%; left: 0%; max-width: 100%;"></div>
    <div class="_active-loading-bar-without-radius" style="width: 33.3333%; left: 33.3333%; max-width: 66.6667%;"></div>
    <div class="_active-loading-bar" style="width: 33.3333%; left: 66.6667%; max-width: 33.3333%;"></div>
  <div style="margin-top: 32px; margin-bottom: 8px;">
    <div class="_container">
      <div class="_title">Calendrier et prix</div>
      <div style="margin-top: 8px; margin-bottom: 24px;">
        <div class="_description">Rédigez un résumé rapide de votre espace de coworking. Vous pouvez mettre en évidence ce qui fait la singularité de votre espace, de votre quartier et les services que vous proposez.</div>
        </div>
        <%= simple_form_for @space, :url => {:action => "update_parameters"}  do |f| %>
          <%= f.input :availabilities, label: "Mettez à jour votre calendrier", placeholder: "Sélectionnez des dates", as: :string, input_html: { id: "datepicker" } %>
          <%= f.input :price, label: "Prix à la journée" %>
          <%= f.button :submit, "Continuer", class: "btn-primary" %>
        <% end %>
    </div>
  </div>
  <div class="_to-the-bottom">
  <div class="d-flex justify-content-between _bottom-background">
    <div class="m-6">
      <%= link_to "Retour", new_space_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
</div>
<script>
window.onload = function(){flatpickr("#datepicker", {
  altInput: true,
    altFormat: "F j, Y",
    dateFormat: "Y-m-d",
  mode: "multiple",
    dateFormat: "Y-m-d",
    enable: [
      {
        // disable every multiple of 8
        from: new Date().toISOString().slice(0,10),
        to: new Date(8640000000000000).toISOString().slice(0,10)

      }
    ]
})};
</script>
