
  <h2><%= @space.title %></h2>
  <p><%= @space.availabilities %></p>
  <p><%= @space.price %></p>
  <p><%= @space.space_type %></p>
  <p><%= @space.capacity %></p>

<%= link_to "contact renter", new_space_path, class: "btn btn-primary btn-lg" %>



<!-- cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill  -->
