<div class="container">
  <h1> Vos Workplace </h1>
  <% @spaces.each do |space| %>

  <div class="d-flex bd-highlight card-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <!-- #remplacer la photo par "space.photo" -->

    <div class="pl-4">
      <h2 class = "pt-2" ><%=space.title %></h2>
      <p><%= space.localisation %>
      <p><%= space.capacity%> m2</p>
      <p><%= space.space_type%> personnes</p>
      <p><%= space.price %>€</p>

      <div class = "card-edit align-text-bottom">
        <a href="#"><%= link_to "Edit", space_path(space) %><i class="fas fa-pencil-alt"></i></a>
        <a href="#"><%= link_to "Delete", dashboard_path,
          methode: :destroy,
          data: {confirm: "are you sure?"} %><i class="far fa-trash-alt"></i></a>
      </div>
    </div>

    <div class="btn-group btn-group-toggle ml-auto p-2 bd-highlight card-edit  " data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> On line
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="options" id="option2" autocomplete="off"> Off Line
      </label>
    </div>

  </div>
  <%end%>
</div>



