<div class="container">
<div class="my_coworking">
  <h1> Vos réservations</h1>

  <% @reservations.each do |reservation| %>


    <div class="card-dash" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1))">
      <% space = reservation.space %>
      <%= link_to space_path(space) do %>
        <div class="card-photo-dash" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path reservation.space.photo, height: 300, width: 400, crop: :fill %>')">
          <p class="card-title"><%= reservation.space.title %></p>
        </div>
      <% end %>

      <div class="card-product-infos">

        <div class="content">
          <h2><%= reservation.space.title %></h2>
          <p><%= reservation.space.localisation %></p>
          <p><%= "Capacité : #{reservation.space.capacity}" %></p>
          <p><%= "Prix total : #{reservation.total_price} €" %></p>
          <p><%= "Période : #{reservation.period}" %></p>


        </div>
      </div>

      <div class="card-modif2">
        <a><%= link_to "Annuler", dashboard_path, class: "btn btn-outline-danger rounded p-2"%></a>
        <% if reservation.space.reviews.empty? %>
          <a><%= link_to "Commenter", new_space_review_path(reservation.space), class: "btn btn-outline-primary rounded p-2" %></a>
        <% else %>
          <p><%= reservation.space.count_stars %></p>
        <% end %>

      </div>
    </div>
  <%end%>
  </div>
</div>
