<div class="container">
  <div class="card-trip mt-5 mb-5 invoice-box">
    <img src= <%= cl_image_path @space.photo %>>
    <div class="card-trip-infos">
      <div>
        <h2><%= @space.title %></h2>
        <p><%= @space.description %></p>
      </div>
      <h2 class="card-trip-pricing mb-2"><%= number_with_precision(@price, precision: 2) %>€</h2>
    </div>
  </div>
  <div class="invoice-box bg-white">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://res.cloudinary.com/ddzudaqmd/image/upload/v1558730642/logo2_byzmr8.png" style="width:40px;">
                            </td>

                            <td>
                                Facture # : <%=@reservation.id%><br>
                                Crée le : 27 mai 2019<br>
                                A payer le : 27 mai 2019
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Space Work, Inc.<br>
                                10, avenue des Champs Elysées<br>
                                Paris, France
                            </td>

                            <td>
                                <%= current_user.email %><br>
                                Michel Leb<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Méthode de paiement
                </td>

                <td>
                    Carte bancaire #
                </td>
            </tr>

            <tr class="details">
                <td>
                    Check
                </td>

                <td>
                    <%= number_with_precision(@price, precision: 2) %>€
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Détail
                </td>

                <td>
                    Prix
                </td>
            </tr>

            <tr class="item">
                <td>
                    Prix à la journée
                </td>

                <td>
                    <%= number_with_precision(@space.price, precision: 2) %>€
                </td>
            </tr>

            <tr class="item">
                <td>
                    Nombre de jours
                </td>

                <td>
                    <%= @reservation.period.split(", ").size %>
                </td>
            </tr>

            <tr class="item last">
                <td>
                    Nombre de places
                </td>

                <td>
                    <%= @reservation.number_worker %>
                </td>
            </tr>

            <tr class="total">
                <td></td>

                <td>
                   Total : <%= number_with_precision(@price, precision: 2) %>€
                </td>
            </tr>
        </table>
        <div class="d-flex justify-content-between mt-3">
          <%= link_to "Retour", spaces_path, class: "btn btn-light btn-lg" %>
          <%= simple_form_for @reservation, :url => {:action => "create"}  do |f| %>
            <%= f.hidden_field :period, value: params[:period] %>
            <%= f.hidden_field :number_worker, value: params[:number_worker] %>
             <%= f.hidden_field :space_id, value: params[:space_id] %>
            <%= f.button :submit, "Valider", class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
    </div>
</div>
